.loader {
  position      : relative;

  margin        : 10% auto;

  transform     : translateZ(0);
  animation     : loaderCircleSpin 1.1s infinite linear;
  text-indent   : -9999em;

  border-top    : 1.1em solid rgba(100, 100, 100, 0.2);
  border-right  : 1.1em solid rgba(100, 100, 100, 0.2);
  border-bottom : 1.1em solid rgba(100, 100, 100, 0.2);
  border-left   : 1.1em solid grey;

  font-size     : 10px;

  &,
  &:after {
    z-index       : 999999;

    width         : 10em;
    height        : 10em;

    border-radius : 50%;
  }

  &-header {
    display    : inline-block;

    width      : 100%;
    margin     : 0 auto;

    text-align : center;
  }

  &-rotate {
    position          : absolute;
    z-index           : -1;
    top               : 0;
    right             : 0;
    bottom            : 0;

    width             : 100%;

    animation         : showHide 5s ease-in 1;

    background        : white;
  }

  &-title {
    z-index     : 10;

    display     : inline-block;

    font-family : 'Roboto',
                  'Helvetica',
                  sans-serif;
  }

  &-wrench {
    position            : relative;
    z-index             : 10000;
    left                : 50%;

    display             : inline-block;

    transform           : rotate(-60deg);
    animation           : slideLeft 1.25s ease-in 0.45s alternate 1;

    opacity             : 0;

    animation-fill-mode : forwards;
  }
}


@keyframes loaderCircleSpin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

@keyframes showHide {
  0% {
    z-index: 9999;

    width:95%;
  }
  40% {
    z-index: 9999;

    width: 0%;
  }
  60% {
    z-index: 9999;

    width: 0%;
  }
  100% {
    z-index: 9999;

    width: 0%;
  }
}

@keyframes slideLeft {
  0% {
    left: 0%;

    opacity: 1;
  }
  10% { transform: rotate(-50deg); }
  20% { transform: rotate(-40deg); }
  30% { transform: rotate(-30deg); }
  40% { transform: rotate(-20deg); }
  50% { transform: rotate(-10deg); }
  60% { transform: rotate(-20deg); }
  70% { transform: rotate(-30deg); }
  80% { transform: rotate(-40deg); }
  90% { transform: rotate(-50deg); }
  100% {
    left: 50%;

    transform: rotate(-60deg);

    opacity: 1;
  }
}
