{
  "presets": [
    ["es2015", { "modules": false }],
    // It is important to note that you will want to tell Babel to not parse these module symbols so webpack can use them.

    "stage-0",
    // Specifies what level of language features to activate.
    // Stage 2 is "draft", 4 is finished, 0 is strawman.
    // See https://tc39.github.io/process-document/

    "react"
    // Transpile React components to JavaScript
  ],
  "plugins": [
    "react-hot-loader/babel"
    // Enables React code to work with HMR.
  ]
}
